%ul#recent.questions
  %h3 Recent
  -@recent_questions.each do |question|
    %li.question
      .title
        =link_to question.title, question_path(question)

%ul#unanswered.questions
  %h3 Unanswered
  -@unanswered_questions.each do |question|
    %li.question{:class => (question.user == current_user) ? 'mine' : ''}
      .title
        =link_to question.title, question_path(question)
