.col-lg-5.col-md-5.col-sm-5
  .panel.panel-default
    .panel-heading
      %h3 Recent
    .panel-body
      %ul#recent.questions
        -@recent_questions.each do |question|
          %li.question
            .title
              =link_to question.title, question_path(question)

.col-lg-5.col-md-5.col-sm-5
  .panel.panel-default
    .panel-heading
      %h3 Unanswered
    .panel-body
      %ul#unanswered.questions
        -@unanswered_questions.each do |question|
          %li.question
            .title
              =link_to question.title, question_path(question)
