@font-color: #333332;
body {
  font-family: Georgia, serif;
  color: @font-color;
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
}

a:link {
  color: #333388;
  &:hover {
    color: CornflowerBlue;
  }
}

a:visited {
  color: Brown;
  &:hover {
    color: Crimson;
  }
}


h1, h3 {
  margin-top: 0px;
}

@top-margin: 30px;
@sidebar-width: 230px;

input#user_remember_me {
  display: inline
}
.notice {
  text-align: center;
  padding: 11px;
  background-color: LightCyan;
  color: DarkCyan;
  border: dotted 1px DarkCyan;
}

#nav {
  text-align: center;
  width: @sidebar-width;
  float: left;
  height: 100%;
  position: fixed;
  padding: 30px 30px 0 30px;
  border-right: dotted 1px #ccc;
  h1 {
    margin-bottom: 50px;
  }
  #account {
    margin-top: 30px;
  }
  input {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  a.ask {
    font-size: 1.5em;
    margin: 30px 0 30px 0;
    line-height: 3em;
  }
}

#content {
  float: left;
  margin-top: 30px;
  margin-left: (@sidebar-width + 100);
  width: 850px;
}

form {
  margin-bottom: 31px;
  input, textarea {
    display: block;
    margin-bottom: 16px;
    padding: 5px;
    @border-width: 3px;
    border-top: solid @border-width #ccc;
    border-left: solid @border-width #ccc;
    border-bottom: solid @border-width #fefefe;
    border-right: solid @border-width #fefefe;
    background-color: #fff;
  }
  input[type="text"], textarea {
    width: 350px;
  }
}

input[type="submit"] {
  margin: 0px;
  background-color: #eee;
  @border-width: 1px;
  border-top: solid @border-width #fff;
  border-left: solid @border-width #fff;
  border-bottom: solid @border-width #ccc;
  border-right: solid @border-width #ccc;
  font-weight: bold;
  padding: 16px;
  color: #777;
  &:hover {
    color: #aaa;
    cursor: pointer;
  }
}

.search-form {
  input[type="text"] {
    width: 60%
  }
}


.questions#recent {
}

.questions {
  margin: 0 20px 30px 0;
  width: 350px;
  float: left;
  padding-left: 20px;
  padding-right: 10px;
  .question {
    margin-bottom: 5px;
    color: #ccc;
    .title {
      color: @font-color;
    }
  }
  .question.mine {
    color: red;
  }
}

.question.details {
  width: 550px;
  .info {
    font-size: 0.8em;
    margin-bottom: 21px;
    color: #bbb;
    .user {
      color: @font-color;
      font-weight: bold;
    }
  }
  .tags {
    margin: 28px 0 31px 0;
    .tag {
      padding: 5px;
      background-color: #ddd;
    }
  }
  h3 {
  }
  .no-answer {
    padding: 0px 0 30px 11px;
    color: #aaa;
    font-style: italic;
  }
  .answers {
    padding: 0px 0 30px 21px;
    .answer {
      .info {
        margin-top: 5px;
      }
    }

  }
  form#new_answer {
    border-top: dotted 5px #ddd;
    padding-top: 50px;
  }
}